<%- include('../tpl/layout/head_top'); %>
<!--<link rel="stylesheet" href="/Platform/css/home/index.css"/>-->
<%- include('../tpl/layout/head_bot'); %>
<%- include('../tpl/layout/header'); %>
<!--<header>-->
<!--<span>欢迎来到 天语星宇 的个人博客 </span>-->
<!--<a href="https://github.com/hwhtml"> github 主页</a>-->
<!--</header>-->




<!-- banner -->
<section class="c-container">
  <div class="banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">

      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

      <!-- 如果需要导航按钮 -->
      <div class="swiper-button-prev swiper-button-black"></div>
      <div class="swiper-button-next swiper-button-black"></div>
    </div>
  </div>
</section>

<!-- main -->
<section class="c-container" id="main-container">
  <div class="c-content clear-fix">
    <article class="c-main-center fl">
      <div class="title">个人推荐</div>
      <ul class="recommend clear-fix" id="recommend">

      </ul>

      <div class="title">最新发布</div>
      <ul class="latest-release" id="latest-release">

      </ul>

      <div class="title">友情链接</div>
      <ul class="link clear-fix" id="link">

      </ul>
    </article>
    <aside class="c-main-right fr c-box">
      <div class="title">当前时间</div>
      <div class="date c-box">
        <p id="date">
          <span>日期 :</span>
          <span id="year">2018</span> 年
          <span id="month">05</span> 月
          <span id="day">30</span> 日
        </p>
        <p id="time">
          <span>时间 :</span>
          <span id="hours">02</span> 时
          <span id="min">20</span> 分
          <span id="sec">45</span> 秒
        </p>
        <p id="week">
          <span>星期 : 周</span>
          <span id="weekdays">一</span>
        </p>
      </div>
      <div class="title">万年历</div>
      <div class="calendar">
        <div class="calendar-wrapper">
          <div id="calendar"></div>
        </div>
      </div>

      <div class="title">技术标签</div>
      <div class="technical-label">
        <ul id="technical-label" class="clear-fix c-box">

        </ul>
      </div>
      <div class="title">热门文章</div>
      <div class="hot-articles">
        <ul id="hot-articles" class="c-box">

        </ul>
      </div>
    </aside>
  </div>
</section>

<%- include('../tpl/layout/footer'); %>

<!-- javascript -->
<script src="/js/com.js" type="application/javascript"></script>
<script src="/js/index.js" type="application/javascript"></script>
<!-- javascript -->
<%- include('../tpl/layout/footer_script'); %>
<%- include('../tpl/layout/foot'); %>